@page "/"

<PageTitle>Example Page</PageTitle>

<h1>Hello, Colleen. :)</h1>

Welcome to your new app.

<SurveyPrompt Title="This is some bold text" />

<SurveyPrompt Title="Twitter" />
<SurveyPrompt Title="Linked In" />
<SurveyPrompt Title="Instagram" />
<SurveyPrompt Title="TikTok" />